.minidrawer {
    background-color: #242424 !important;
    color: white !important;
    .mud-icon-root {
        color: white !important;
    }
    .mud-nav-link.active:not(.mud-nav-link-disabled) {
        color: #0165BB !important;
        .mud-icon-root {
          color: #0165BB !important;
        }
        .mud-nav-link-text {
            color: #0165BB;
        }
    }
}